.app {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  gap: 1rem;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid #eef3f8;
  background: #fff;
  z-index: 100;
}
.header .header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .header-left .header-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background: #eef3f8;
  border-radius: 5px;
  color: #6b7c93;
}
.header .header-left .header-search input {
  border: none;
  outline: none;
  background: none;
}
.header .header-right {
  display: flex;
  gap: 2rem;
}

.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6b7c93;
  cursor: pointer;
  font-size: 0.8rem;
}
.headerOption:hover {
  color: #0050c0;
}

.app-body {
  display: flex;
  gap: 1rem;
}

.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  height: -moz-fit-content;
  height: fit-content;
}
.sidebar .sidebar-top {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eef3f8;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.sidebar .sidebar-top .img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
}
.sidebar .sidebar-top .top-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
}
.sidebar .sidebar-stats {
  background: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #eef3f8;
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 0 0 10px 10px;
}
.sidebar .sidebar-stats .sidebar-stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.sidebar .sidebar-stats .sidebar-stat .stat-text {
  color: gray;
  font-size: 0.8rem;
}
.sidebar .sidebar-stats .sidebar-stat .stat-number {
  color: #0050c0;
  font-size: 0.8rem;
}
.sidebar .sidebar-bottom {
  border: 1px solid #eef3f8;
  border-radius: 10px;
  padding: 1rem;
  background: #fff;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.sidebar .sidebar-bottom .sidebar-recentItem {
  color: gray;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.sidebar .sidebar-bottom .sidebar-recentItem:hover {
  background: #eef3f8;
}

.feed {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feed .feed-inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #eef3f8;
}
.feed .feed-inputContainer .feed-input {
  display: flex;
  border: 1px solid #eef3f8;
  border-radius: 50px;
  padding: 0.5rem;
  color: gray;
  gap: 0.5rem;
}
.feed .feed-inputContainer .feed-input form {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.feed .feed-inputContainer .feed-input form input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}
.feed .feed-inputContainer .feed-input form button {
  display: none;
}
.feed .feed-inputContainer .feed-inputOptions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputOption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.inputOption .inputTitle {
  color: gray;
}
.inputOption:hover {
  background: #eef3f8;
}

.post {
  padding: 1rem;
  border: 1px solid #eef3f8;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post .post-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.post .post-header .post-info .name {
  font-size: 1rem;
  font-weight: 600;
}
.post .post-header .post-info .description {
  font-size: 0.8rem;
  color: gray;
}
.post .post-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}/*# sourceMappingURL=App.css.map */