.app

    display: flex
    flex-direction: column
    width: 70%
    margin: 0 auto
    // align-items: center
    gap: 1rem
.header
    position: sticky
    top: 0
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0.5rem 0
    width: 100%
    border-bottom: 1px solid #eef3f8
    // background: #f3f2ef
    .header-left
        display: flex
        align-items: center
        gap: 1rem
        .header-search
            display: flex
            align-items: center
            gap: 0.5rem
            padding: 0.5rem
            background: #eef3f8
            border-radius: 5px
            color: #6b7c93
            input
                border: none
                outline: none
                background: none
    .header-right
        display: flex
        gap: 2rem

.headerOption
    display: flex
    flex-direction: column
    align-items: center
    // gap: 0.5rem
    color: #6b7c93
    cursor: pointer
    font-size: 0.8rem
    .headerOption-icon
        // font-size: 1.2rem
        // color: #6b7c93
    .headerOption-
    &:hover
        color: #0050c0

.app-body
    display: flex
    gap: 1rem

.sidebar
    position: sticky
    top: 80px
    flex: 0.2
    // display: flex
    // flex-direction: column
    // align-items: center
    // justify-content: center
    // background: #000
    // border-radius: 10px
    height: fit-content

    .sidebar-top
        background: #fff
        // width: 100%
        display: flex
        flex-direction: column
        align-items: center
        // justify-content: center
        border: 1px solid #eef3f8
        border-radius: 10px 10px 0 0
        overflow: hidden
        .img
            margin-bottom: -20px
            width: 100%
            height: 60px
        .top-info
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            padding: 1rem
            gap: 0.5rem
            .name
                // padding: 1rem 0 0.5rem 0
            .email
                // padding: 0 0 1rem 0
    .sidebar-stats
        background: #fff
        display: flex
        flex-direction: column
        border: 1px solid #eef3f8
        gap: 0.5rem
        padding: 1rem 0
        border-radius: 0 0 10px 10px
        // width: 100%
        .sidebar-stat
            display: flex
            // flex-direction: column
            align-items: center
            justify-content: space-between
            padding: 0 1rem
            .stat-text
                color: gray
                font-size: 0.8rem
            .stat-number
                color: #0050c0
                font-size: 0.8rem
    .sidebar-bottom
        border: 1px solid #eef3f8
        border-radius: 10px
        padding: 1rem
        background: #fff
        margin-top: 10px
        display: flex
        flex-direction: column
        // gap: 0.5rem
        .bottom-text
        .sidebar-recentItem
            color: gray
            display: flex
            gap: 0.5rem
            padding: 0.5rem
            border-radius: 5px
            &:hover
                background: #eef3f8

.feed
    flex: 0.6
    .feed-inputContainer
        background: #fff
        padding: 1rem
        border-radius: 10px
        border: 1px solid #eef3f8
        .feed-input
